doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css.map')

  body(class="columns")
    div(class="column is-half is-offset-one-quarter")
      nav(class="navbar")
        div(class="navbar-brand")
          h1(class="title has-text-centered" style="margin-top: 20px;")= title

      hr
      form(class="form-config"
           id="form-config")
        p(class="is-size-5 has-text-centered") Voting portal & voter account

        div.field
          label(for='httpEndpoint') HTTP Endpoint:
          div.control
            input(type="text"
                  class="httpEndpoint input is-size-5"
                  name="httpEndpoint")

        div.field
          label(for='chainId') ChainId:
          div.control
            input(type="text"
                  class="chainId input is-size-5"
                  name="chainId")

        div.field
          label(for='account') Account:
          div.control
            input(type="text"
                  class="account input is-size-5"
                  name="account")

        div.control
          a(class='button is-primary', href='javascript:;' id="btn-save") save
          a(class='button is-light btn-cancel', href='javascript:;' style='margin-left: 20px') cancel


      div(id="config-container")
        p(class="is-size-5 has-text-centered") Voting portal & voter account

        div.field
          label(for='httpEndpoint') HTTP Endpoint:
          div.control
            p(id="httpEndpoint",
              class="httpEndpoint has-text-black is-size-5")

        div.field
          label(for='chainId') ChainId:
          div.control
            p(id="chainId",
              class="chainId has-text-black is-size-5")

        div.field
          label(for='account') Account:
          div.control
            p(id="account"
              class="account has-text-black is-size-5")

        div.field
          label(for='token') Staked tokens:
          div.control
            p(id="token"
              class="token has-text-black is-size-5")

        div.control
          a(class='button is-size-6', href='javascript:;' id="btn-edit") switch account

      hr


      form(class="form-vote"
           id="form-vote")
        p(class="is-size-5 has-text-centered") Vote producers


        div.field.producer-voter
          label(for='producers') Specify Producers you want to vote(seperate by space):
          div.control
          textarea(type="text"
                   class="textarea"
                   placeholder="producer names seperated by space: producer1 producer2 producer3"
                   name="producers")

        div.field.producer-voter
          label(for='secretKey') secretKey:
          div.control
          textarea(type="text"
                   visibility="hidden"
                   class="textarea"
                   name="secretKey")

        div.control.producer-voter
          a(class='button is-primary', href='javascript:;' id="btn-vote") vote!!
          a(class='button is-light btn-cancel', href='javascript:;' style='margin-left: 20px') cancel

      form(class="vote-container"
           id="vote-container")
        p(class="is-size-5 has-text-centered") Vote status

        div.field.producer-voted
          label Producers you voted for:
          div.control
            p(id="producers"
              class="producers has-text-black is-size-5")

        div.control.producer-voted
          a(class='button is-size-6', href='javascript:;' id="btn-update-vote") change vote

      hr
      div
        p(class='has-text-centered') created by EosLaoMao.com with ❤️
        

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/index.js')
