doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1= title

    form.form-config
      p Specify the voting portal and producers you vote for

      div.form-group
        label(for='httpEndpoint') HTTP Endpoint:
        input(type="text"
              name="httpEndpoint")

      div.form-group
        label(for='chainId') ChainId:
        input(type="text"
              name="chainId")

      div.form-group
        label(for='account') Account:
        input(type="text"
              name="account")

      div.form-group
        a(class='button', href='javascript:;' id="btn-next") Next

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='/javascripts/index.js')
